<h2>Assignments</h2>

<button onclick="openAddAssignmentModal()">Add Assignment</button>

<table>
<tr><th>Template</th><th>Customer</th><th>Group</th></tr>

<% assignments.forEach(a=>{ %>
<tr>
<td><%=a.template_name%></td>
<td><%=a.customer_name%></td>
<td><%=a.group_name%></td>
</tr>
<% }) %>
</table>

<script>
    window.__DATA__ = {
		templates: <%- JSON.stringify(templates) %>,
		schedules: <%- JSON.stringify(schedules) %>,
		groups: <%- JSON.stringify(groups) %>,
		customers: <%- JSON.stringify(customers) %>
    };
</script>
<script src="/js/pages/assignments.js"></script>