<h2>Schedules</h2>

<button onclick="openCreateScheduleModal()">Create Schedule</button>

<table>
<tr><th>Name</th>
	<th>Frequecy</th>
	<th>Interval</th>
	<th>Day of the Week</th>
	<th>Day of the Month</th>
	<th></th></tr>
<% schedules.forEach(s => { %>
<tr>
    <td><strong><%= s.name %></strong></td>
	<td><%= s.frequency %></td>
	<td><%= s.interval %></td>
	<td><%= s.day_of_week %></td>
	<td><%= s.day_of_month %></td>
	<td>
		<button class="btn btn-primary btn-sm" onclick="openEditScheduleModal(
			<%= s.id %>, <%- JSON.stringify(s.name).replace(/"/g, "'") %>, '<%= s.frequency %>','<%= s.interval %>','<%= s.day_of_week %>','<%= s.day_of_month %>'
		)">Edit</button>
	</td>
</tr>
<% }) %>
</table>

<script src="/js/pages/schedules.js"></script>